body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 1.5em;
}

/* Esta clase quita el borde azul que viene por defecto en bootstrap */
.custom-select,
.form-control {
    box-shadow: none !important;
}

.small-text {
    font-size: 1em;
}

.line {
    display: inline-block;
    background-color: #e0e0e0;
    height: 2px;
    width: 2rem;
}

.icon,
.text-muted {
    color: #b2b2b2;
}

/* Table */

.table-img {
    max-width: 50px;
}

select.rounded,
.form-control.rounded,
.btn.rounded {
    border-radius: 25px !important;
}

.input-group .btn.rounded {
    margin-left: -30px;
    z-index: 100;
}